@import "tailwindcss";

.label {
    @apply block mb-1 text-sm font-medium text-gray-600;
}

.input {
    @apply w-full px-4 py-2.5 border border-gray-300 rounded-lg focus:ring-2 focus:ring-red-500 focus:outline-none;
}